p.intro
{
text-align: center;
}

h2.intro
{
text-align: center;

}
a img
{
float: right;
}
a img:last-child {
  display: none;
}
a:hover img:last-child {
  display: block;
}
a:hover img:first-child {
  display: none;
}
